
<div class="screen" style="background-image: url('../../assets/bg1.webp');background-size: cover;" >
    <div class="container">
        <div class="row justify-content-center mt-2 pt-5  ">
            <div class="col-6">
                <form class="form" [formGroup]="addotp" >
                  
                  <h3 style="text-align: center;color: rgb(150, 143, 143);"></h3>
               
                 
                 
                  <div class="mb-3">
                    <label for="formGroupExampleInput3" class="form-label">Enter OTP</label>
                    <input type="text" class="form-control" id="formGroupExampleInput3" formControlName="otp"  >
                    
                  </div>
                  
                 
                 
                  
               
                 <br>
                  <button type="submit" class="btn btn-primary"  >Submit</button>
      
                </form>
            </div>
        </div>
      </div>
    </div>